body{
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: inherit;
	    background-blend-mode: unset;
	    height: 400px;

}
nav{
	font-family: 'Kaushan Script', cursive;
	font-size: 25px;
}
div#home{
	font-family: 'Kaushan Script', cursive;
	font-family: 'Shadows Into Light Two', cursive;
}

button#answer:hover{
	    background-color: #bf4d29;
}
p{
	font-size: 30px;
}
div#afteranswer{
	display: none;
}
div#welcomeheader{
	
}

p#todowarning{
	float: right;
    color: #c34f2b;
    position: absolute;
    text-align: center;
    left: 20%;
}
span#delete{
    background-color: black;
    border-radius: 0px;
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 5px;
    color: white;
}
span#delete:hover{
	background-color:  #b70d0d;
}

ul#listtodos>li{
	padding: 15px;
	    color: #150101;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.5px;
}